#search-modal.search-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        a.btn-close(href="javascript:;", @click="closeSearch")
          | ×
        h2.title 
          - if (config.sdk == 'mobile-sdk')
            = __('doc.search_title_mobile')
          - if (config.sdk == 'onboard-sdk')
            = __('doc.search_title_onboard')
          - if (config.sdk == 'guidance-sdk')
            = __('doc.search_title_guidance')
        input(type="text", v-model="searchInput", @keydown.enter="search")
      .modal-body
        p.search-count(v-show="!!searchCount")
          span(v-cloak) {{searchCount}}
          | &nbsp;
          != __('doc.results')
        ul.search-result(v-show="!!searchCount")
          li(v-for="item in searchResult")
            a(v-bind:href="item.url | docUrl")
              h3.title {{{item.highlights.title || item.title}}}
              p.content {{{item.highlights.content}}}
        .text-center(v-show="showLoadMore")
          a.btn-learn-more(href="javascript:;", @click="loadMoreSearch")
              != __('btn.load_more')
        .text-center(v-show="searchLoading")
              != __('btn.loading')
        .text-center(v-show="!searchCount && !searchLoading")
          = __('doc.notfound')

